<h1>Welcome to Relational Rails!</h1>

<ul>
  <li><a href="/hotels">Hotel Index</a></li>
  <li><a href="/suites">Suites Index</a></li>
  <li><a href="/organizations">MMA Organizations</a></li>
  <li><a href="/fighters">Fighters</a></li>
</ul>
