<a href="/fighters">Fighters</a>
<h1>All Organizations</h1>

<% @organizations.in_order.each do |organization| %>
    <h3><%= link_to organization.name, "/organization/#{organization.id}" %></h3>
    <p>Created at: <%= organization.created_at %></p>
<% end %>