<h1>All Organizations</h1>

<% @organizations.each do |organization| %>
<!-- button below -->
    <h3><%= link_to organization.name, "/organization/#{organization.id}" %></h3>
    <!-- without button -->
     <!-- <h3><%= organization.name %></h3> -->
<% end %>